@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>As this website is currently in BETA released it should not be used for any production data.</p>
<p>Data may, and most likely will, be removed frequently.</p>

